h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 6.5vw;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid #328CC1;
}
p {
  font-family: 'Ubuntu', sans-serif;
  margin: 10px;
  color: #eee;
}

#profile-pic {
  margin: 75px auto 0 auto;
  border: 2px solid #328CC1;
}


@media(min-width: 992px) {
  .col-md-6:last-child {
    border-left: 1px groove #328CC1;
  }
}

@media(max-width:991px) {
  #profile-pic {
    max-width: 70%;
  }
}

@media(min-width: 1105px) {
  #profile-pic {
    width: 532px;
    height: 400px;
    margin: 20px auto 20px auto;
  }
}

/* #profile-pic:hover {
  transform: rotate(360deg);
  transition: 0.90s;
} */
