/*Header css*/
.navbar {
  min-height: 80px;
  -webkit-animation-name: toblue;
  -webkit-animation-duration: 6.5s;
  animation-name: toblue;
  animation-duration: 7s;
  background-color: #1D2731;
  animation-iteration-count: 999;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@-webkit-keyframes toblue {
  from {background-color: #1D2731;}
  to {background-color: #328CC1;}
}

.navbar-brand {
  padding-left: 15px;
  height: 96px;
  line-height: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  color: #eee;
  background-color:#328CC1;
}

.navbar-toggle .icon-bar {
    background-color: #d8e6f3;
    color: #328CC1;
}

.navbar-nav>li>a{
  font-family: 'Raleway', sans-serif;
  color: #eee;
}

.navbar-nav>li>a:hover {
  background-color: #328CC1;
  color: #1D2731;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 12px !important;
}

.navbar-left {
  margin: 0 15px;
}

.navbar-right {
  margin: 0 25px 0 5px;
}
.navbar-right li  {
    font-size: 2em;
    display: inline-block;
    text-align: center;
}

.fa-stack-overflow {
  color: orange;
}

.fa-linkedin {
  color:lightblue;
}

@media (min-width: 768px) {

  .navbar-right li  {
      font-size: 2.2vw;
  }

  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    line-height: 45px;
  }

  .navbar-left {
    left: 15%;
    position: absolute;
  }
}
