form {
  margin: 10px auto;
  text-align: center;
}

input {
  margin: 15px 5px 15px 20px;
  color: #111;
}

textarea {
  margin-top: 15px;
  color: #111;
  width: 95%;
}

.fa-envelope {
  margin-left: 5px;
}

.contact {
  width: 60%;
  margin: 60px auto;
  text-align: center;
}
